.App {
  padding: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.report-area {
  margin-left: 60px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.col-1,
.col-11 {
  padding-left: 0px;
  padding-right: 0px;
}
